@import url("./icomoon/style.css");

/* basic set up for p5js full screen */
canvas {
  display: block;
}

body {
   /* background: linear-gradient(180deg, #33a9a7 0%, #503478 100%); */
   background: black;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 }

.dg.ac {
    z-index: 1000 !important;
}

/* back button show during gameing */
backButton {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height:auto;
    color: white;
    font-size: 10pt;
    line-height: 5pt;
    padding: 6px 6px 6px 6px;
    background: #10C5C1;;
    opacity: 1;
    z-index: 10000;
}

backButton:hover {
    background: #eeeeff;
}

#splashscreen {
    z-index: 10000 !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #00205b 0%, #FF3F6D 100%);
}

#p5-container {
    background: linear-gradient(180deg, #2D2D64 0%, #000000 100%);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.page__background {
    background-color: #0F0D31;
    /*background: linear-gradient(180deg, #2D2D64 0%, #000000 100%); !important;*/
}

.tabbar {
    background-color: #0F0D31;
    height: auto;
}


.tabbar__button {
    color: #ffffff;
    height: 100%;
}


.button {
    background-color: #2E297C;
    cursor: pointer;
    /*background-color: #0F0D31*/
}

.responsiveMenu{
    padding: 10px; !important;
}

.circle-icon {
    background: #2E297C;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-stretch: 100%;
    vertical-align: middle;
    padding: 15px;
}

.card {
    background-color: #2E297C;
    /*background-color: #0F0D31*/
}

.tabbar__button {
    cursor: pointer;
}
.ons-fab {
    cursor: pointer;
}


#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2D2D64 0%, #000000 100%);
    /*background-image: url("../img/MnyxU.gif");*/
    background-repeat: no-repeat;
    background-position: center;
}


@media only screen and (min-width: 768px) {
    .responsiveMenu { padding: 10px; padding-top: 15px;  width: 50%; margin: auto;}
}

